a {
    background-image: none;
}

.video {
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    border: 2px solid #41403e;
    display: block;
    height: auto;
    max-width: 100%;
    overflow: hidden;
}